<div class="content center"> <br> <br>
    <h1 class="title">Streaming Platforms</h1> <br> <br>
   
    <p>Our music is available on all streaming platforms supported by <a href="https://support.distrokid.com/hc/en-us/articles/360013649093-What-Platforms-Will-My-Music-Appear-In-">DistroKid</a>.</p> <br> 
    <p>Here are some major ones:</p> <br>
    <p style="font-size: 3em;">
        <a target="_blank" href="https://open.spotify.com/artist/7dVA2NK5n7rHRgUB4IyU2L"><i style="color: #1DCB5D;" class="fa-brands fa-spotify"></i></a>
        <a target="_blank" href=""><i style="padding-left: 1em; color: #ffffff;" class="fa-brands fa-apple"></i></a>
        <a target="_blank" href="https://music.amazon.com/artists/B08FCM23QC/duelist"><i style="padding-left: 1em; color: #FF9800;" class="fa-brands fa-amazon"></i></a>
        <a target="_blank" href="https://music.youtube.com/channel/UCOSXekC4RBnjEOn9vuJiiNg"><i style="padding-left: 1em; color: red;" class="fa-brands fa-youtube"></i></a>
    </p> <br>
    <p>... with many more to come soon!</p>
</div> 