.footer {
    margin-top: 20vh;
    
    color: #FE5D26;

    font-size: 20px;
    font-family: 'Open Sans Condensed';

    margin-right: 10vw;
}

.center {
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(10, 13, 20, 0.205), #7e0000, rgba(10, 13, 20, 0.205));
}

a {
  color: red;
  text-decoration: none;
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(207, 0, 0);
  text-decoration: none;
  cursor: url('../../cursorLink.png'), auto;
}

a:active {
  color: rgb(255, 0, 0);
  text-decoration: none;
} 