<div class="content center"> <br> <br>
    <h1 class="title">Download Songs</h1> <br>
   
    <p>On our website, we provide only <b>.mp3</b> song format, however, you can visit our <br>
        <a target="_blank" href="https://duelistband.bandcamp.com/">bandcamp</a> page and download higher quality
        tracks for free!</p> <br> <br>

    <p>Once you open one of the links below, right click (or tap and hold on touch screen devices) <br> and select »<i>Save Audio As...</i>« to download the song.</p> <br> <br>
    
    <p><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/Duelist%20-%20Lost%20Comfort.mp3">Download Lost Comfort</a> (.mp3)</p> <br>
    <p><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/Fallen.mp3">Download Fallen</a> (.mp3)</p> <br>
    <p><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/Soul%20Hole.mp3">Download Soul Hole</a> (.mp3)</p>
</div> 