<div class="content center"> <br> <br>
    <h1 class="title">Download Songs</h1> <br>
   
    <p>Once you open one of the links below, if you're on a desktop, right click <br> and select »<i>Save Audio As...</i>« to download the song. <br> 
        On touchscreen enabled devices, download should commence automatically.</p> <br> <br>
    
    <table>
        <tr>
            <th>Song Name</th>
            <th>Extension</th>
            <th>Size</th>
            <th>Length</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>Soul Hole</td>
            <td>.mp3</td>
            <td>11.5 MB</td>
            <td>5:01</td>
            <td><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/Soul%20Hole.mp3">Download</a></td>
        </tr>
        <tr>
            <td>Fallen</td>
            <td>.mp3</td>
            <td>8.91 MB</td>
            <td>3:53</td>
            <td><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/Fallen.mp3">Download</a></td>
        </tr>
        <tr>
            <td>Lost Comfort, Pt.1</td>
            <td>.mp3</td>
            <td>3.05 MB</td>
            <td>1:20</td>
            <td><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/Lost%20Comfort%20intro.mp3">Download</a></td>
        </tr>
        <tr>
            <td>Lost Comfort, Pt.2</td>
            <td>.mp3</td>
            <td>11.1 MB</td>
            <td>4:51</td>
            <td><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/Lost%20Comfort.mp3">Download</a></td>
        </tr>
        <tr>
            <td>Ignorance is Decadence</td>
            <td>.mp3</td>
            <td>11.2 MB</td>
            <td>4:55</td>
            <td><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/ID.mp3">Download</a></td>
        </tr>
    </table> 
</div> 