<div class="content center"> <br> <br>
    <h1 class="title">Download Songs</h1> <br>
   
    <p>On our website, we provide only <b>.mp3</b> song format, however, you can visit our <br>
        <a target="_blank" href="https://duelistband.bandcamp.com/">bandcamp</a> page and download higher quality
        tracks for free!</p> <br> <br>

    <p>Once you open one of the links below, if you're on a desktop, right click <br> and select »<i>Save Audio As...</i>« to download the song. <br> 
        On touchscreen enabled devices, download should commence automatically.</p> <br> <br>
    
    <table>
        <tr>
            <th>Song Name</th>
            <th>Extension</th>
            <th>Size</th>
            <th>Length</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>Lost Comfort</td>
            <td>.mp3</td>
            <td>14.3 MB</td>
            <td>6:17</td>
            <td><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/Duelist%20-%20Lost%20Comfort.mp3">Download</a></td>
        </tr>
        <tr>
            <td>Fallen (demo)</td>
            <td>.mp3</td>
            <td>8.8 MB</td>
            <td>3:49</td>
            <td><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/Fallen.mp3">Download</a></td>
        </tr>
        <tr>
            <td>Soul Hole (demo)</td>
            <td>.mp3</td>
            <td>11.5 MB</td>
            <td>5:02</td>
            <td><a target="_blank" href="https://raw.githubusercontent.com/TinFiolic/Duelist/main/Soul%20Hole.mp3">Download</a></td>
        </tr>
    </table> 
</div> 