<div class="content center"> <br> <br>
    <h1 class="title">Contact Us</h1> <br> <br>
   
    <p>While we're most likely to respond to your email sent to <a target="_blank" href="mailto:duelist.band@gmail.com">duelist.band@gmail.com</a>, <br>
    we're also checking out your messages and comments on the following pages: </p> <br> 
    
    <p style="font-size: 3em;">
        <a target="_blank" href="https://www.facebook.com/duelistband/"><i style="color: #2741b4;" class="fa-brands fa-facebook"></i></a>
        <a target="_blank" href="https://www.instagram.com/duelist.band/"><i style="padding-left: 1em; color: #ffffff;" class="fa-brands fa-instagram"></i></a>
        <a target="_blank" href="https://duelistband.bandcamp.com/"><i style="padding-left: 1em; color: #2da7cc;" class="fa-brands fa-bandcamp"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UC3wrj55NAZIV26JMnBqmG7A"><i style="padding-left: 1em;" class="fa-brands fa-youtube"></i></a>
    </p> 
</div> 