<div class="content center"> <br> <br>
    <h1 class="title">A Fall From Grace</h1> <br>
   
    <p>We are currently in process of recording our first EP, <i>A Fall From Grace</i>. As of right now,
    we have released a finished single <i>Lost Comfort</i> and two demos, titled <i>Soul Hole</i> and <i>Fallen</i>.</p> <br>

    <p>These songs can be heard below (once again, <i>Fallen</i> and <i>Soul Hole</i> are NOT finished products just yet!). Songs
    were written by band members and have been mixed/mastered by Kiki Marcello.</p> <br> <br>

    <h1 class="title2">Lost Comfort</h1> <br>

    <ang-music-player width = "360px" [audioList] = lostComfort backgroundColor = "rgba(0, 0, 0, 0)"
    audioTimeColor = "#FFF" audioTitleColor = "#FFF" timeSliderColor = "#FFF"
    volumeSliderColor = "#FFF" playButtonColor = "#FFF" pauseButtonColor = "#FFF"
    nextButtonColor = "#FFF" previousButtonColor = "#FFF" repeatButtonColor = "#FFF"
    activeRepeatButtonColor = "#FFF" volumeButtonColor = "#FFF" muteButtonColor = "#FFF"></ang-music-player> <br> <br>

    <h1 class="title2">Fallen</h1> <br>
    
    <ang-music-player width = "360px" [audioList] = fallen backgroundColor = "rgba(0, 0, 0, 0)"
    audioTimeColor = "#FFF" audioTitleColor = "#FFF" timeSliderColor = "#FFF"
    volumeSliderColor = "#FFF" playButtonColor = "#FFF" pauseButtonColor = "#FFF"
    nextButtonColor = "#FFF" previousButtonColor = "#FFF" repeatButtonColor = "#FFF"
    activeRepeatButtonColor = "#FFF" volumeButtonColor = "#FFF" muteButtonColor = "#FFF"></ang-music-player> <br> <br>

    <h1 class="title2">Soul Hole</h1> <br>
    
    <ang-music-player width = "360px" [audioList] = soulHole backgroundColor = "rgba(0, 0, 0, 0)"
    audioTimeColor = "#FFF" audioTitleColor = "#FFF" timeSliderColor = "#FFF"
    volumeSliderColor = "#FFF" playButtonColor = "#FFF" pauseButtonColor = "#FFF"
    nextButtonColor = "#FFF" previousButtonColor = "#FFF" repeatButtonColor = "#FFF"
    activeRepeatButtonColor = "#FFF" volumeButtonColor = "#FFF" muteButtonColor = "#FFF"></ang-music-player> <br> <br>
</div> 