<div class="content center"> <br> <br>
    <h1 class="title">Downfall EP (demo)</h1> <br>

    <h1 class="title2">{{selectedSong}}</h1> <br>

    <app-player [name]="songs[selectedSongIndex]" [link]="songLinks[selectedSongIndex]"></app-player> <br> <br> 

    <div class="chooseSong">
        <div class="songList" *ngFor="let song of songs; let i = index">
            <span *ngIf="selectedSong == song">
                <p (click)="switchSong(song, i)" class="selectedSong">{{song}}</p>
            </span>
            <span *ngIf="selectedSong !== song">
                <p (click)="switchSong(song, i)">{{song}}</p>
            </span>
        </div>
    </div>
    <br><br>
    <p>The songs were written by band members and have been mixed/mastered by <a target="_blank" href="https://kristijantackovic.wixsite.com/kikimarcello">Kiki Marcello</a>.</p> <br> <br> <br>
    
</div> 