<div class="content center"> <br> <br>
    <h1 class="title">Biography</h1> <br> <br>
   
    <p>The biography is still being written, so while we're at it, here's the brief history of the band;</p> <br>
 
    <p>We formed some time shortly before the infamous coronavirus pandemic hit the world by surprise, in 2019. 
    With Luka Toth on guitar and vocals, Matija Vedriš on drums and Tin Fiolić on guitar and vocals, we set out 
    to make a record that's a mix of a bunch of genres us three combined listented to and loved through the years, all while growing as musicians and friends 
    in the process. What we came up with is a sound remeniscent of old rock/metal, with a fresh modern twist, but with 
    melodical instrumental and vocal lines that are slowly dissapearing in modern music as time passes...</p> <br> 

    <p>In 2021, Luka, Matija and Tin met with Kiki Marcello, a musician/producer/photographer, to record
        <i>A Fall From Grace</i>, however as the recording process went, Kiki had become interested in joining the band.
        As time progressed, he finally decided to take up bass guitar and join Duelist in 2022.</p> <br>

    <p>The current idea is to finish recording the first EP (<i>A Fall From Grace</i>), go out and play some shows, then go back 
    and record another EP, as we've pretty much already written it whole.</p> <br>

    <p>Once the biography is updated, it should contain the whole setup (gear) each of us is using, a little about each 
    one of us personally and whatever more we can think of! Until then, stay tuned and rock on!</p> <br> <br>

    <h1 class="title">Gallery</h1> <br> 
    <p style="font-size: 14px">Photos were taken by Kiki and his girlfriend Lorena</p>
    
    <span class="memberList selectedMember" (click)="switchImage('band')" id="band">The Band</span>
    <span class="memberList" style="margin-left: 3vw;" (click)="switchImage('matija')" id="matija">Matija</span> 
    <span class="memberList" style="margin-left: 3vw;" (click)="switchImage('kristijan')" id="kristijan">Kiki</span> 
    <span class="memberList" style="margin-left: 3vw;" (click)="switchImage('luka')" id="luka">Luka</span> 
    <span class="memberList" style="margin-left: 3vw;" (click)="switchImage('tin')" id="tin">Tin</span>

    <br> <br>
    
    <img *ngIf="currentMember=='band'" class="gallery" src="https://raw.githubusercontent.com/TinFiolic/Duelist/main/bandphoto.JPG" />
    <img *ngIf="currentMember=='matija'" class="gallery2" src="https://raw.githubusercontent.com/TinFiolic/Duelist/main/matija.JPG" />
    <img *ngIf="currentMember=='luka'" class="gallery2" src="https://raw.githubusercontent.com/TinFiolic/Duelist/main/toth.JPG" />
    <img *ngIf="currentMember=='kristijan'" class="gallery2" src="https://raw.githubusercontent.com/TinFiolic/Duelist/main/kiki.JPG" />
    <img *ngIf="currentMember=='tin'" class="gallery2" src="https://raw.githubusercontent.com/TinFiolic/Duelist/main/ja.JPG" />
</div> 